<div class="app-masthead">
  <div class="app-masthead__container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-6">
          {{ serviceTitle }}
        </h1>
        <p class="masthead-account-links govuk-!-padding-top-2">
          <a class="govuk-button govuk-!-font-weight-bold" role="button" draggable="false" href="#">
            Create an account
          </a>
          or <a href="#">sign in</a> if you have used this service before
        </p>
      </div>
    </div>
  </div>
</div>