{% macro meta(data) %}
<div class='govuk-grid-row'>
  <div class="govuk-grid-column-full pageMeta">
    <p class=''>
      <a href='/'>Back</a>
    </p>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Page title:
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.pageTitle }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Post-Brexit only:
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.postBrexit }}
        </dd>
      </div>
      {% if data.ticketNumber %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ticket:
        </dt>
        <dd class="govuk-summary-list__value">
          <a href='{{ data.ticketHref }}'>CosBeta-{{ data.ticketNumber }}</a>
        </dd>
      </div>
      {% endif %}
      {% if data.notes %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notes:
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.notes }}
        </dd>
      </div>
      {% endif %}
    </dl>
    <hr>
  </div>
</div>

{% endmacro %}
