{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}
{% set title='Face care products other than face mask' %}
{% set parent='0' %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/choose-frame-formulation',
    pageTitle: title,
    postBrexit: 'No'
    }) }}
{% endblock %}


{% set foo = ['one', 'two', 'three'] %}

{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = 'Choose the frame formulation that matches your product most closely' %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#passport-issued-error"
        }
      ]
    }) if errorState }}

    <h1 class='govuk-heading-l'>
      Frame formulations for face care products other than face mask
    </h1>
    <p>
      A ‘frame formulation’ lists the ingredients and their maximum concentration.
    </p>
    <p>
     <a href='#'>View face care products other than face mask frame formulations (opens in a new tab)</a>
    </p>
    <p class='govuk-!-margin-bottom-1'>
      Only choose a frame formulation that:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>covers all ingredients in your product</li>
      <li>lists concentrations equal to or greater than the concentration of that ingredients in your product</li>
    </ul>
    <p>
      If more than one formulation covers your product, choose the closest match.
    </p>
    <div class="govuk-form-group govuk-!-margin-top-6">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Which frame formulation matches your product?
          </legend>
          <div class="govuk-radios">
            {% for item in data.frameformulations[0].formulations %}
              {% if loop.index < 8 %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        {{ item.name }}
                      </label>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
              None of these formulations match my product
            </label>
          </div>
        </fieldset>
      </div>
    </div>

  </div>
</div>
{% endmacro %}

{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
{#  {% set errorState = true %}
 {{singleItem(errorState=true)}} #}
{% endblock %}
