{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/ingredient ranges',
    pageTitle: 'Poisonous ingredients',
    postBrexit: 'Yes'
    }) }}
{% endblock %}


{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = 'Upload a list of ingredients' %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#passport-issued-error"
        }
      ]
    }) if errorState }}

    <h1 class='govuk-heading-l'>
      Concentration ranges of the ingredients
    </h1>

    <p class='govuk-!-margin-bottom-3'>To tell us about the concentration ranges, you'll need to upload a PDF which lists the ingredients.</p>

    <h2 class='govuk-heading-m'>
      What you'll need to tell us
    </h2>

    <p class='govuk-!-margin-bottom-3'>List every ingredient in order of the largest to the smallest.</p>

    <p class='govuk-!-margin-bottom-2'>
      For every ingredient in the product, you'll need to tell us the:
    </p>

    <ul class='govuk-list govuk-list--bullet'>
      <li>International Nomenclature of Cosmetic Ingredients (INCI) name</li>
      <li>Chemical Abstracts Service (CAS) number</li>
    </ul>

    <div class="govuk-inset-text">
    <p class='govuk-!-margin-bottom-3'>The National Poison Information Service (NPIS) needs to know about some ingredients in the product – list these first with the <strong>exact</strong> concentrations, in order of the largest to the smallest.</p>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Ingredients NPIS needs to know about
          </span>
        </summary>
        <div class="govuk-details__text">
          {% include "../includes/poisonous-ingredients.html" %}
        </div>
      </details>
      </div>

    <p class='govuk-!-margin-bottom-2'>For the other ingredients, list them in order of the largest concentration to the smallest.</p>

      <h3 class='govuk-heading-s'>
        Concentration ranges
      </h3>

      <p class='govuk-!-margin-bottom-2'>Use these concentration ranges:</p>

    <ul class='govuk-list govuk-list--bullet'>
      <li>above 75% w/w up to 100% w/w</li>
      <li>above 50% w/w up to 75% w/w</li>
      <li>above 25% w/w up to 50% w/w</li>
      <li>above 10% w/w up to 25% w/w</li>
      <li>above 5% w/w up to 10% w/w</li>
      <li>above 1% w/w up to 5% w/w</li>
      <li>above 0.1% w/w up to 1% w/w</li>
      <li>up to and including 0.1% w/w</li>
    </ul>

    <br>

    <!--
    <h1 class='govuk-heading-m'>
      Ingredients NPIS needs to know about
    </h1>
    -->


      <!--

      <div class="govuk-inset-text">



      <p class='govuk-!-margin-bottom-3'>The National Poison Information Service (NPIS) needs to know about some ingredients in the product – list these first with the <strong>exact</strong> concentrations.</p>


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Ingredients NPIS needs to know about
            </span>
          </summary>
          <div class="govuk-details__text">
            {% include "../includes/poisonous-ingredients.html" %}
          </div>
        </details>

      </div>


  </div>
  <div class="govuk-grid-column-full">

  </div>
  <div class="govuk-grid-column-two-thirds">



    <h3 class='govuk-heading-m'>Shades</h3>

    <p class='govuk-!-margin-bottom-1'>For products available in shades, clearly list the difference between shades.</p>

    <div class="govuk-inset-text">If any ingredient NPIS needs to know about differs between shades, you must submit them as seperate notitications.</div>
      -->
      <br>
    {% include '../includes/upload.html' %}

  </div>

</div>
{% endmacro %}

{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
 {% set errorState = true %}
 {{singleItem(errorState=true)}}
{% endblock %}
