{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/ingredients',
    pageTitle: 'Ingredients',
    postBrexit: 'No'
    }) }}
{% endblock %}


{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = 'Select how you want to tell us about the product ingredients' %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#passport-issued-error"
        }
      ]
    }) if errorState }}

    <h1 class="govuk-heading-xl">
      Ingredients
    </h1>


    <p class='govuk-!-margin-bottom-4'>You can tell us about the ingredients in a cosmetic product by:</p>
      <ul class='govuk-list govuk-list--bullet'>
      <li>choosing a &lsquo;frame formulation&rsquo; that matches the product most closely</li>
      <li>uploading a PDF with the &lsquo;concentration ranges&rsquo; of the ingredients (for example, above 0.1% w/w up to 1% w/w)</li>
      <li>uploading a PDF with the &lsquo;exact concentrations&rsquo; of the ingredients (% w/w)</li>
      </ul>

      <div class="govuk-inset-text">
      If the product was placed on the market <strong>after 31 January 2020</strong>, you'll also need to tell us the exact concentration of any ingredients the National Poison Information Service (NPIS) needs to know about in a separate document.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            List of ingredients NPIS needs to know about
          </span>
        </summary>
        <div class="govuk-details__text">
          {% include "../includes/poisonous-ingredients.html" %}
        </div>
      </details>
      </div>

    <!--
    <h2 class="govuk-heading-m">
      Frame formulations
    </h2>

    <p class='govuk-!-margin-bottom-3'>Frame formulations list the:</p>
      <ul class='govuk-list govuk-list--bullet'>
      <li>category or function of the ingredients
      <li>maximum concentration of the ingredients
      </ul>

    <p class='govuk-!-margin-bottom-2'>You'll need to choose the frame formulation that matches the product most closely. There are frame formulations to cover most cosmetic products.</p>

    <p class='govuk-!-margin-bottom-3'><a href='#'>View frame formulations (opens in a new tab)</a></p>


    <h2 class="govuk-heading-m">
      Concentration ranges
    </h2>
    <p>
      You'll need to upload a PDF which lists each ingredient and its concentration within a defined range (for example ‘above 0.1% w/w up to 1% w/w’).
    </p>

    <h2 class="govuk-heading-m">Exact concentration</h2>

    <p class='govuk-!-margin-bottom-9'>
      You'll need to upload a PDF which lists all the ingredients and their exact concentration
    </p> -->


    {{ govukRadios({
      idPrefix: "where-do-you-live",
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "How do you want to tell us about the ingredients?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "Choose a frame formulation"
        },
        {
          value: "scotland",
          text: "Upload a PDF with the concentration ranges"
        },
        {
          value: "wales",
          text: "Upload a PDF with the exact concentrations"
        }
      ]
    }) }}

  </div>
</div>
{% endmacro %}

{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
 {% set errorState = true %}
 {{singleItem(errorState=true)}}
{% endblock %}
