{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/ingredients',
    pageTitle: 'Ingredients',
    postBrexit: 'No'
    }) }}
{% endblock %}


{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = 'Select how you want to tell us about the product ingredients' %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#passport-issued-error"
        }
      ]
    }) if errorState }}

    <h1 class="govuk-heading-xl">
      There is no frame formulation for ‘Other face care products other than face mask’
    </h1>

    {{ govukRadios({
      idPrefix: "where-do-you-live",
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "How do you want to tell us about the ingredients?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: {
        text: errorMessage
      } if errorState,
      items: [
        {
          value: "england",
          text: "Choose a different frame formulation"
        },
        {
          value: "scotland",
          text: "Upload a list of ingredients with their concentration ranges"
        },
        {
          value: "wales",
          text: "Upload a list of ingredients with their exact concentrations"
        }
      ]
    }) }}

  </div>
</div>
{% endmacro %}

{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
 {% set errorState = true %}
 {{singleItem(errorState=true)}}
{% endblock %}
