{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/poisonous-ingredients',
    pageTitle: 'Poisonous ingredients',
    postBrexit: 'Yes'
    }) }}
{% endblock %}


{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/form-handler" method="post" novalidate>
      {% set errorMessage = 'Select yes if the product contains any of these ingredients' %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: errorMessage,
            href: "#passport-issued-error"
          }
        ]
      }) if errorState }}
      <h1 class='govuk-heading-xl'>
        Ingredients you need to tell us about
      </h1>

      <p>
        To treat anyone who may be poisoned by the product, National Poison Information Services need the exact quantities (% w/w) of the ingredients listed here.
      </p>

      <div class='govuk-!-margin-bottom-9'>
        
        {% for ingredientGroup in data.ingredientGroups %}
        <div class='govuk-!-margin-bottom-9'>
          <h2 class='govuk-heading-m govuk-!-margin-bottom-1'>
            {{ ingredientGroup.name }}
          </h2>

            {% set ingredientRows = [] %}
            {% set tableHead = false %}

            {# Compile array for table macro #}
            {% for ingredient in ingredientGroup.ingredients %}

              {# Check if first row has ingredient amounts #}
              {% if loop.first and ingredient.amount %}
                {% set tableHead = [
                  {
                    text: "Name",
                    classes: 'govuk-!-width-one-half'
                  },
                  {
                    text: "CAS Number",
                    classes: 'govuk-!-width-one-quarter'
                  },
                  {
                    text: "Amount",
                    classes: 'govuk-!-width-one-quarter'
                  }
                ]%}
              {% endif %}

              {# Create ingredients array #}
              {% if ingredient.amount %}
                {% set ingredientRow = [
                  {
                    html: ingredient.name
                  },{
                    html: ingredient.casNumber or "–"
                  },{
                    html: ingredient.amount
                  }] %}
                {% set ingredientRows = (ingredientRows.push(ingredientRow), ingredientRows) %}
              {% else %}
                {% set ingredientRow = [
                  {
                    html: ingredient.name
                  }
                ] %}
                {% set ingredientRows = (ingredientRows.push(ingredientRow), ingredientRows) %}
              {% endif %}
            {% endfor %}

            {{ govukTable({
              head: tableHead,
              rows: ingredientRows
            }) }}
            {% if ingredientGroup.note %}
              <p class='govuk-!-margin-bottom-9'>
                {{ ingredientGroup.note }}
              </p>
            {% endif %}
        </div>
        {% endfor %}
      </div>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "Does the product contain any of these ingredients?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: {
          text: errorMessage
        } if errorState,
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

    </form>
  </div>
</div>
{% endmacro %}

{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
 {% set errorState = true %}
 {{singleItem(errorState=true)}}
{% endblock %}
