{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ metaDetails.meta({
    url: '/ingredients-for-npis',
    pageTitle: 'Poisonous ingredients',
    postBrexit: 'Yes'
    }) }}
{% endblock %}


{% macro singleItem(errorState=false) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = 'Select yes if the product contains any of these ingredients' %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#passport-issued-error"
        }
      ]
    }) if errorState }}

    <h1 class='govuk-heading-xl'>
      Ingredients the National Poison Information Service needs to know about</h1>

    <p>
    The National Poison Information Service (NPIS) needs to know the exact concentrations (% w/w) of some ingredients in the product, so it can help with the treatment of anyone who might accidentally be affected by them.
    </p>
  </div>

  <div class='govuk-grid-column-full'>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Ingredients NPIS needs to know about
        </span>
      </summary>
      <div class="govuk-details__text">
        {% include "../includes/poisonous-ingredients.html" %}
      </div>
    </details>
  </div>

  <!--
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
  {% include "../includes/poisonous-ingredients.html" %}
  </div>
   -->

  <div class="govuk-grid-column-two-thirds">


  <form action="/form-handler" method="post" novalidate>
    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: {
        legend: {
          text: "Does the product contain any of these ingredients?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: {
        text: errorMessage
      } if errorState,
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

  </form>
</div>

{% endmacro %}


{% block content %}
  {{singleItem()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr>
    </div>
  </div>
 {% set errorState = true %}
 {{singleItem(errorState=true)}}
{% endblock %}
