{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        Tell us about nanomaterials
      </h1>

      <p class='govuk-body-lead'>How you tell us about the nanomaterials in your cosmetic product depends on whether the substance in the nanomaterial is listed in Annex 4, 5 or 6 of EC regulation 1223/2009.</p>

      <h2 class='govuk-heading-m'>Substances listed in Annex 4, 5 or 6</h2>

      <p class='govuk-!-margin-bottom-5'>If the substance in the nanomaterial is listed in Annex 4, 5 or 6 of <a href ="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:02009R1223-20190617&from=EN"><span class="no-wrap">EC regulation 1223/2009</span></a>, you can tell us about these nanomaterials when you notify us about the cosmetic product.</p>

      <h2 class='govuk-heading-m'>Substances not listed in Annex 4, 5 or 6</h2>

      <p class='govuk-!-margin-bottom-5'>If the substance in the nanomaterial is not listed in Annex 4, 5 or 6 of <a href ="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:02009R1223-20190617&from=EN"><span class="no-wrap">EC regulation 1223/2009</span></a>, you'll need to tell us about these nanomaterials <strong>before</strong> you notify us about the cosmetic product.</p>

      <div class="govuk-inset-text">Email a PDF file to: <span class="no-wrap"><a href="mailto:nanomaterial-review-panel@beis.gov.uk">nanomaterial-review-panel@beis.gov.uk</a><span>.</div>

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What you'll need to tell us about the nanomaterial
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class='govuk-!-margin-bottom-5'>You'll need to tell us:</p>

    <ul class='govuk-list govuk-list--bullet'>
    <li>the quantity expected to be placed on the market each year</li>
    <li>its specification, including the size of particles, physical and chemical properties</li>
    <li>the droplet size and distribution when sprayed</li>
    <li>its toxicological profile</li>
    <li>its safety data relating to the category of products in which it will be used</li>
    <li>whether it reacts or changes its properties in certain conditions, for example, if it is photocatalytic</li>
    </ul>

    <p class='govuk-!-margin-bottom-5'>You'll also need to tell us whether the product was notified in the EU before 1 November 2019 (Brexit) and if so, when it was first notified.</p>
  </div>
</details>


    </div>
  </div>
{% endblock %}
