{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        How to notify nanomaterials
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rerum incidunt velit laudantium saepe. Est excepturi impedit, reiciendis quo voluptate, blanditiis quibusdam vitae officiis fugit et, debitis. Sit, animi. Fuga.
      </p>
    </div>
  </div>
{% endblock %}
