{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        Tell us about nanomaterials
      </h1>

      <p class='govuk-!-margin-bottom-3'>If the nanomaterials in the cosmetic product are not listed as colourants, preservatives or UV filters under EC Regulation 1223/2009 (Annex 4, 5 or 6), you'll need to <a href="">upload a PDF</a> with the following information:</p>

    <ul class='govuk-list govuk-list--bullet'>
    <li>the quantity of nanomaterials expected to be placed on the market each year</li>
    <li>the specification, including the size of particles, physical and chemical properties</li>
    <li>the droplet size and distribution when sprayed</li>
    <li>the toxicological profile</li>
    <li>the safety data relating to the category of products in which they'll be used</li>
    <li>whether they react or change their properties in certain conditions, for example if they're photocatalytic</li>
    </ul>

    <div class="govuk-inset-text">
    <p class='govuk-!-margin-bottom-3'>You'll also need to tell us:</p>

    <ul class='govuk-list govuk-list--bullet'>
    <li>when the product was first notified if it was notified with the EU <strong>before 1 February 2020</strong></li>
    <li>the email address of someone to contact about the nanomaterials</li>
    </ul>
    </div>

  </div>



    </div>
  </div>
{% endblock %}
