{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Frame formulations",
    href: "../frame-formulations/frame-formulations-index.html"
  }) }}
{% endblock %}

{% block content %}

  {% set parent = 0 %}
  {% set child = 0 %}

  <div class='govuk-grid-row'>
    {% include "../includes/frame-formulation-presentation.html" %}
    <div class='govuk-grid-column-full'>
      {% include "../includes/frame-formulation-table.html" %}
    </div>
  </div>

{% endblock %}