{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        Frame formulations
      </h1>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {% for type in data.frameformulations %}
          <div class="govuk-accordion__section ">

            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  {{ type.categoryName }}
                </span>
              </h2>
            </div>

              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <ol class='govuk-list'>
                  {% for formulation in type.formulations %}
                    <li class='govuk-!-padding-bottom-1'><a href='{{ formulation.url }}'>{{ formulation.name }}</a></li>
                  {% endfor %}
                </ol>
              </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
