{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        Frame formulations
      </h1>

      {% for frameFormulation in data.frameformulations %}

        {% set rowHeadings = 
          [
            { text: frameFormulation.categoryName }
          ]
         %}

        {# {{ frameFormulation.categoryName }} #}

      {% endfor %}

      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "Writing well for the web"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
            }
          },
          {
            heading: {
              text: "Writing well for specialists"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
            }
          },
            {
            heading: {
              text: "Know your audience"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
            }
          },
            {
            heading: {
              text: "How people read"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for How people read.</p>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
