{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "./upload-file.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" novalidate>

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

          {% set name = data['nanomaterial-name'] %}
          {% set notifiedInEu = data['eu-notification-date'] %}

          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: name
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Notified in EU"
                },
                value: {
                  text: notifiedInEu
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "date of birth"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Contact details"
                },
                value: {
                  html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "contact details"
                    }
                  ]
                }
              }
            ]
          }) }}


        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}