{% extends "./homepage-layout.html" %}

{% set showAppHeader = true %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set serviceTitle = "Submit cosmetic product notifications" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class='govuk-body-lead'>
      Notify the Office for Product Safety and Standards (OPSS) about cosmetic products available to consumers in the UK.
    </p>

    <h2 class='govuk-heading-m'>
      What you need to do
    </h2>

    <p class='govuk-!-margin-bottom-1'>
      You need to notify OPSS about every cosmetic product available to consumers in the UK.

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
    You may face a fine of up to £5,000, or a prison term of up to 3 months, if you do not notify OPSS about a cosmetics product.
    </strong>
    </div>

    <h2 class='govuk-heading-m'>
    What you'll need to tell us
    </h2>
    <p class='govuk-!-margin-bottom-1'>You’ll need to tell OPSS:</p>
    <ul class='govuk-list govuk-list--bullet'>
    <li>what's in the cosmetic product, including certain nanomaterials</li>
    <li>the name and details of a contact person for the National Poisons Information Service, or Trading Standards, to get in touch with</li>
    <li>who the ‘responsible person’ is</li>
    </ul>

    <div class="govuk-inset-text">The ‘responsible person’ (RP) is the individual or company responsible for ensuring the regulations are followed. Every cosmetic product placed on the UK market must have an RP.</div>


    <h2 class='govuk-heading-m'>How to tell us what's in the cosmetic product</h2>

    <p class='govuk-!-margin-bottom-1'>How you do this depends on whether the product was notified with the EU.</p>
    <br>
    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Cosmetic products notified with the EU before Brexit
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class='govuk-!-margin-bottom-1'>You can upload the data from your EU notification. You'll need to:</p>

    <ul class='govuk-list govuk-list--bullet'>
    <li>export your data as a ZIP file for each notification – the CPNP allows you to do this</li>
    <li>upload the ZIP files - you can upload 100 files at a time</li>
    </ul>

    <p class='govuk-!-margin-bottom-1'>The ZIP files will not include:</p>
      <ul class='govuk-list govuk-list--bullet'>
    <li>the formulation of the product if it was an attached document – you must provide this separately as a PDF, RTF or TXT file</li>
    <li>any images – you’ll need to provide them for products notified after Brexit</li>
    <li>details of any nanomaterials in the product</li>
    </ul>
  </div>
  </details>
  <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Cosmetic products not notified with the EU
  </span>
</summary>
<div class="govuk-details__text">
  <p class='govuk-!-margin-bottom-1'>You'll need to enter information about the product manually.</p>


</div>
</details>


<h3 class='govuk-heading-s'>Products containing nanomaterials</h3>

  <p class='govuk-!-margin-bottom-1'>If the cosmetic product contains certain nanomaterials, you'll need to <a href="">tell us about the substances in the nanomaterials</a>.</p>


  </div>
</div>

{% endblock %}
