{% extends "./homepage-layout.html" %}

{% set showAppHeader = true %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set serviceTitle = "Search for cosmetic products" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class='govuk-body-lead'>
      Search for cosmetic products available in the UK.
    </p>



    <h2 class='govuk-heading-m'>Who this service is for</h2>
    <p class='govuk-!-margin-bottom-2'>This service is for:</p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>National Poison Information Service (NPIS) staff</li>
      <li>Trading standards officers (TSOs)</li>
      <li>market surveillance authorities</li>
      </ul>

      <h2 class='govuk-heading-m'>What this service is for</h2>


      <p class='govuk-!-margin-bottom-1'>Poison centre staff can use this service to check product ingredients and, if the product has them, the amount of poisonous ingredients.</p>

      <p class='govuk-!-margin-bottom-1'>Trading standards can use this service to check product ingredients, labelling and packaging.</p>

      <p class='govuk-!-margin-bottom-1'>Some product information may be missing.  Cosmetic companies must notify products already on the UK market by 29 January 2020.</p>

      <h2 class='govuk-heading-m'>How to create an account</h2>

      <h3 class='govuk-heading-s'>Poison centre staff</h3>

      <p class='govuk-!-margin-bottom-1'>If you are from a Poison Centre you can request an account.</p>

      <h3 class='govuk-heading-s'>Trading Standards</h3>


      <p class='govuk-!-margin-bottom-1'>If you are from Trading Standards you need to get an invite from the person in your organisation responsible for the Product Safety Database. You can then use those credentials to sign in to this service.</p>
  </div>
</div>

{% endblock %}
