{% extends "./homepage-layout.html" %}

{% set showAppHeader = true %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set serviceTitle = "Search for cosmetic products" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class='govuk-body-lead'>
      Search for cosmetic products available in the UK and notified with the Office for Product Safety and Standards (OPSS).
    </p>


    <!-- <div class="govuk-inset-text">
    <p class='govuk-!-margin-bottom-1'>
        If the cosmetic product was taken off the UK market before <strong>1 November 2019</strong> (Brexit), but still in use in the UK, it will not be listed.
        If the cosmetic product was notified with the EU before <strong>1 November 2019</strong> (Brexit), some ingredient information and packaging images may be missing.
        These products must be notified with OPSS by <span><strong>29 January 2020</strong></span>.-->


        <!-- These products must be notified with OPSS by <span><strong>29 January 2020</strong></span>.-->

        <h2 class='govuk-heading-m'>How to access the service</h2>

        <p class='govuk-!-margin-bottom-1'>If you're using this service for the first time, send an email to <a href="mailto:opss.enquiries@beis.gov.uk">opss.enquiries@beis.gov.uk</a> to ask for an account.</p>

        <h3 class='govuk-heading-s'>Trading Standards officers</h3>

        <p class='govuk-!-margin-bottom-1'>If you've used the Product Safety Database (PSD), you can use your PSD sign in details (username and password).</p>


      <h2 class='govuk-heading-m'>What you can search for</h2>

      <p class='govuk-!-margin-bottom-2'>You can search for cosmetic products by:</p>
      <ul class='govuk-list govuk-list--bullet'>
      <li>product name</li>
      <li>product category</li>
      <li>responsible person</li>
      </ul>

      <div class="govuk-inset-text">The ‘responsible person’ (RP) is the company (or individual) responsible for ensuring the regulations are followed. Every cosmetic product placed on the UK market must have an RP.</div>

      <h3 class='govuk-heading-s'>National Poison Information Service (NPIS) staff</h3>


      <p class='govuk-!-margin-bottom-2'>You can find out the ingredients in a cosmetics product.</P>



      <h3 class='govuk-heading-s'>Trading Standards officers</h3>

      <p class='govuk-!-margin-bottom-3'>You can check if the cosmetic product has been notified with OPSS.</p>


      <h2 class='govuk-heading-m'>What you can't search for</h2>

            <p class='govuk-!-margin-bottom-2'>You can't search for cosmetic products taken off the UK market before 1 February 2020 but still used in the UK.</p>

          <div class="govuk-inset-text">Some ingredient information and packaging images may be missing for cosmetic products notified with the EU before 1 February 2020.</div>

          <!-- These products must be notified with OPSS by <span><strong>29 January 2020</strong></span>.-->




  </div>
</div>

{% endblock %}
