{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        Page updates
      </h1>
      <h2 class='govuk-heading-l'>
        Backlog
      </h2>
      <h2 class="govuk-heading-m">
        Non journey pages
      </h2>
      <ul class='govuk-list'>
        <li>
          <a href="non-journey/homepage">
            Responsible Person home page
          </a>
        </li>
        <li>
          <a href="non-journey/search-homepage">
            Search home page
          </a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        Guidance
      </h2>
      <ul class='govuk-list'>
        <li>
          <a href="guidance/nanomaterials">
            Nanomaterials
          </a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        Manual journey pages
      </h2>
      <h4 class="govuk-heading-s govuk-!-margin-top-6">
        Routing
      </h4>
      <ul class='govuk-list'>
        <li>
          <a href="routing/have-the-products-been-notified-on-cpnp">
            Were the products notified on CPNP before Brexit?
          </a>
        </li>
        <li>
          <a href="routing/do-you-have-the-files-from-your-eu-notification">
            Do you have the files from your EU notification?
          </a>
        </li>
        <li>
          <a href="routing/will-these-products-be-notified-in-the-eu">
            Will these products be notified in the EU?
          </a>
        </li>
        <li>
          <a href="routing/was-this-product-notified-in-the-eu-before-brexit">
            Was this product notified in the EU before Brexit?
          </a>
        </li>
        <li>
          <a href="routing/notifying-products-in-the-uk-and-eu.html">
            Notifying products in the UK and EU
          </a>
        </li>
      </ul>
      <h4 class="govuk-heading-s govuk-!-margin-top-6">
        General product
      </h4>
      <ul class='govuk-list'>
        <li>
          <a href="general-product/product-name.html">
            Product name
          </a>
        </li>
        <li>
          <a href="general-product/internal-reference.html">
            Internal reference
          </a>
        </li>
        <li>
          <a href="general-product/for-children-under-3.html">
            Is the product intended for children under 3?
          </a>
        </li>
      </ul>
      <h4 class="govuk-heading-s govuk-!-margin-top-6">
        Multi-item products
      </h4>
      <ul class='govuk-list'>
        <li>
          <a href="multi-item-kits/is-the-product-available-as-a-single-item-or-as-a-kit.html">
            Is the product available as a single item or as a kit?
          </a>
        </li>
        <li>
          <a href="multi-item-kits/does-the-kit-contain-items-that-need-to-be-mixed.html">
            Does the kit contain items that need to be mixed?
          </a>
        </li>
        <li>
          <a href="multi-item-kits/does-the-product-contain-a-hair-dye.html">
            Does the product contain a hair dye?
          </a>
        </li>
        <li>
          <a href="multi-item-kits/what-is-the-ph-range-of-the-items-when-mixed-as-instructed.html">
            What is the pH range of the product when mixed as instructed?
          </a>
        </li>
        <li>
          <a href="multi-item-kits/ph-range-of-the-items-when-mixed-as-instructed.html">
            pH range of the items when mixed as instructed
          </a>
        </li>
        <li>
          <a href="multi-item-kits/kit-items.html">
            Kit items
          </a>
        </li>
      </ul>
      <h4 class="govuk-heading-s govuk-!-margin-top-6">
        Component
      </h4>
      <ul class='govuk-list'>
        <li>
          <a href="component/is-the-product-available-in-shades.html">
            Is the product available in shades?
          </a>
        </li>
        <li>
          <a href="component/list-shades.html">
            List the shades
          </a>
        </li>
        <li>
          <a href="component/image.html">
            Artwork for the product label
          </a>
        </li>
      </ul>
      <h4 class="govuk-heading-s govuk-!-margin-top-6">
        Formulation
      </h4>
      <ul class='govuk-list'>
        <li>
          <a href="formulation/poisonous-ingredients-table.html">
            Poisonous ingredients
          </a>
        </li>
      </ul>
      <h2 class='govuk-heading-l'>
        Done
      </h2>
      <ul class='govuk-list'>
        <li>
          <a href="component/image.html">
            Artwork for the product label
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
