{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full pageMeta">
      <h1 class=''>
        1 invite, valid token
      </h1>
      <hr>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        You have an invite to join Make-up your mind LTD
      </h1>
      <p>
        To join <span class='no-wrap'>Make-up your mind LTD,</span> follow the link in the invite email.
      </p>
      <p>
        <a href='#' class='govuk-link--no-visited-state'>Get a new invite</a> if you can’t find the invite email.
      </p>
      <p class=''>
        If you do not want join <span class='no-wrap'>Make-up your mind LTD</span> now, <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full pageMeta govuk-!-margin-bottom-9">
      <h1 class=''>
        1 invite, expired token
      </h1>
      <hr>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        You were invited to join Make-up your mind LTD
      </h1>
      <p>
        The invite you were sent has expired. To get a new invite someone in the team will need to send you a new one.
      </p>
      <p class=''>
        If you do not want join <span class='no-wrap'>Make-up your mind LTD</span> now, <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full pageMeta govuk-!-margin-bottom-9">
      <h1 class=''>
        Multiple invites, all valid
      </h1>
      <hr>
    </div>
  </div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        You have invites to join other Responsible Persons
      </h1>
      <p class='govuk-!-margin-bottom-1'>
        You have been invited to join:
      </p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>Nine inch nails</li>
        <li>Bat for lashes</li>
        <li>Warpaint</li>
      </ul>
      <p>
        To join these organisations follow the link in the invite email.
      </p>
      <p class=''>
        <a href='#' class='govuk-link--no-visited-state'>Get new invites</a>, if you can’t find the invite email.
      </p>
      <p class=''>
        If you do not want join another Responsible Person now, <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full pageMeta govuk-!-margin-bottom-9">
      <h1 class=''>
        Multiple invites, mix of expired and valid
      </h1>
      <hr>
    </div>
  </div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        You have invites to join other Responsible Persons
      </h1>
      <p class='govuk-!-margin-bottom-1'>
        You have been invited to join:
      </p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>Nine inch nails</li>
        <li>Bat for lashes</li>
        <li>Warpaint</li>
      </ul>
      <h2 class='govuk-heading-s'>
        <span class='no-wrap'>Nine inch nails</span> and <span class='no-wrap'>Bat for lashes</span>
      </h2>
      <p class=''>
        <a href='#' class='govuk-link--no-visited-state'>Get new invites</a>, for <span class='no-wrap'>Nine inch nails</span> and <span class='no-wrap'>Bat for lashes</span> if you can’t find the invite email.
      </p>
      <h2 class='govuk-heading-s'>
        <span class='no-wrap'>Warpaint</span>
      </h2>
      <p>
        The invite to join <span class='no-wrap'>Warpaint</span> has expired. To get a new invite someone in the team will need to send you a new invitation.
      </p>
      <h2 class='govuk-heading-s'>
        Creat a new Responsible Person
      </h2>
      <p class=''>
        If you do not want join another Responsible Person now, <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full pageMeta govuk-!-margin-bottom-9">
      <h1 class=''>
        Multiple invites, all expired
      </h1>
      <hr>
    </div>
  </div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-xl'>
        You have invites to join other Responsible Persons
      </h1>
      <p class='govuk-!-margin-bottom-1'>
        You have been invited to join:
      </p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>Nine inch nails</li>
        <li>Bat for lashes</li>
        <li>Warpaint</li>
      </ul>
      <p>
        The invites you were sent have expired. To get new invites someone in the team you want to join will need to send you one.
      </p>
      <p class=''>
        If you do not want join another Responsible Person now, <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
      </p>
    </div>
  </div>
{% endblock %}