{% extends "layout-no-header-footer.html" %}
{% import "../includes/page-meta.html" as metaDetails %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{# {% set inviteSenders = [
  {organisation: 'Make-up your mind LTD', tokenValid: true}
  ] %} #}

{% set inviteSenders = [
  {organisation: 'Make-up your mind LTD', tokenValid: true, dateInvited: '27 October 2020', inviteSender: 'John Peel'},
  {organisation: 'Nine inch nails', tokenValid: true, dateInvited: '2 October 2020', inviteSender: 'John Peel'},
  {organisation: 'Bat for lashes', tokenValid: true, dateInvited: '20 October 2020', inviteSender: 'John Peel'},
  {organisation: 'Small faces', tokenValid: expired, dateInvited: '20 October 2020', inviteSender: 'John (skin) Peel'}
  ] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class='govuk-grid-column-two-thirds'>
        <h1 class="govuk-heading-xl">
          Who do you want to submit cosmetic product notifications for?
        </h1>
        <ul class='govuk-list'>
          {% for item in inviteSenders %}
          <li>
            <span class='no-wrap govuk-!-font-weight-bold'>{{ item.organisation }}</span>
          <p>
          {% if item.tokenValid %}
            Check your email inbox for your invite, sent <span class='no-wrap'>{{ item.dateInvited }}</span>.
          {% else %}
            Your invite has expired and needs to be resent. You were invited by <span class='no-wrap'>{{ item.inviteSender }}</span>.
          {% endif %}
          </p>
        </li>
          {% endfor %}
          <p>or</p>
          <li>
            <span class=''>another organisation</span> — <a href='#' class='govuk-link--no-visited-state'>create a new Responsible Person</a>.
          </li>
        </ul>
    </div>
  </div>
{% endblock %}